* {
  margin: 0;
  list-style: none;
}

.add-btn {
  position: fixed;
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 90px;
  height: 90px;
  font-size: 4rem;
  color: #f67280;
  cursor: pointer;
}